.submit{
  width: 102px;
  height: 29px;
  border-radius: 5px;
  background: #0079BF;
  border: none;
  cursor: pointer;
}

.submit_text{
  color: #FFF;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}